<!--      ЛОББИ С КАРТОЙ       -->

<script>

loadPanelVisible = ko.observable(false);
startLoading = function() {
  loadPanelVisible(true);
//  setTimeout($.proxy(this.finishLoading, this), 3000);
};
finishLoading = function() {
  loadPanelVisible(false);
};

mapMarkers = [
  {
    title: "Дойче Стандарт ",
    location: [61.816328,34.31619],
    clickAction: function () { document.getElementById('moika1').style.display = 'block';
							   document.getElementById('dark_bg').style.display = 'block'; 	
	}
  },
  {
    title: "Автоцентр Альянс",
    location: [61.811413,34.316155],
	clickAction: function () { document.getElementById('moika1').style.display = 'block';
							   document.getElementById('dark_bg').style.display = 'block';  }
  },
  {
    title: "ООО Автомойка",
    location: [61.805034,34.280579],
	clickAction: function () { document.getElementById('moika1').style.display = 'block';
							   document.getElementById('dark_bg').style.display = 'block';  }
  }
];
 
providers = [
  { text: "google" }
];
currentProvider = ko.observable("google");
 
changeMarkerVisibility = function () {
    mapMarkers[0].tooltip.isShown = !mapMarkers[0].tooltip.isShown;
}
 
//Assigns the clicked tab text to the currentProvider variable
tabClicked = function (itemClickOptions) {
  currentProvider(itemClickOptions.itemData.text);
};

 var gohome=function() {
	KskRealtorApp.app.navigate('home');
}

 var gomoika=function() {
	KskRealtorApp.app.navigate('moika');
}

 var gorss=function() {
	KskRealtorApp.app.navigate('rss');
	setInterval(getRss(),5000);

}

</script>

<style>
.prilip {
  z-index: 101;
  background:#2d2d2d; 
  width:100%; 
  height:50px;
	position: fixed;
	bottom:0;
	left:0;
	display:block;
}

.loader{
	position:fixed;
	z-index:200;
}
</style>


<div data-options="dxView : { name: 'map', toolbar:false  } " >
  <div style="background:#2d2d2d;" class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >     
          
       <div class = 'loader' data-bind="dxLoadPanel:{message: 'Loading map settings...', visible: loadPanelVisible }"></div>
       
         <div id = "prilip3" class="prilip">
          <div style="width:33%; height:50px; float:left; color:#fbfcfc; font-size:0,5em;" onClick="gohome();">
            <div style="padding-top:13px;">НАЗАД</div>
          </div>
          <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:0,5em;" onClick="gorss();">
			<div style="padding-top:13px; margin-left:-5px;">НОВОСТИ</div>
          </div>
		  <div style=" width:33%; height:50px; float:left; color:#fbfcfc; font-size:0,5em;" onClick="gohome();">
			<div style="padding-top:13px;">ГЛАВНАЯ</div>
          </div>
          <div style="clear:both;"></div>
          </div>   
          
          <div id="moika1" class="moika"  data-bind="dxAction: gomoika "><img src="img/marker_info.png" width="130" height="130" /> </div>
          <div id="dark_bg" class="dark" onclick="document.getElementById('moika1').style.display = 'none';document.getElementById('dark_bg').style.display = 'none';"></div>
          

			<div class="map" data-bind="dxMap: {
				readyAction: finishLoading,
  				markers: mapMarkers,
                width: screen.width,
                height: screen.height,
				location: '61.8085012, 34.30240631',
				zoom: 5,
                markerIconSrc: 'img/marker_ico.png' ,
  				provider: currentProvider
				}"></div>
	</div>
    </div>
</div>
         
    </div>
</div>
